*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}
/* sfondo menu */
header{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(31, 95, 233);
    vertical-align: center;
    font-weight:bold;
}
/* menu */
ul li{
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.accedi a:visited{
    color: black;
}
nav{
    text-align: center;
    width: 100%;
}
nav ul a{
    color: rgb(255, 255, 255);
    margin: 25px;
    line-height: 80px;
    z-index: 999;
}
.accedi{
    position: absolute;
    top: 20px;
    right: 300px;
    z-index: 2;
    width: 90px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #000;
}
.menu a img{
    position: absolute;
    top: 30px;
    left: 300px;
    cursor: pointer;
}
/* sfondo descrizione */
.sfondo-header{
    position: relative;
    width: 100vw;
    height: 700px;
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}
/* descrizione discord */
.testo-download h1{
    font-size: 50px;
}
.testo-download p{
    line-height: 30px;
    width: 70%;
    margin:40px auto ;
}
/* colore testo */
.testo-download h1,
.testo-download p,
.pulsanti .browser{
    color: #fff;
}
.testo-download{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    text-align: center;
}
/* pulsanti tasti */
.mac{
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #000;
    padding: 10px 20px;
    margin-right: 20px;
}
.browser{
    background-color: rgb(43, 43, 43);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #000;
    padding: 10px 15px;
}
.prima-box{
    width: 100%;
    height: 600px;
    position: relative;
    top: 700px;
    left: 0%;
}
.box-study{
    width: 70%;
    height: 100%;
    margin: 100px auto;
    
}
.box-study .sinistra{
    width: 49%;
    height: 100%;
    display: inline-block;
    float: left;
}
.box-study h1{   
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
}
.box-study .destra{
    float: right;
    display: inline-block;
    width: 49%;
    height: 100%;
}
.prima-box::after{
    clear: both;
    display: block;
    content: "";
}