*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}
body{
    width: 100vw;
}
/* sfondo menu */
header{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(31, 95, 233);
    vertical-align: center;
    font-weight:bold;
}
/* menu */
.menu ul li{
    display: inline-block;
    list-style-type: none;
}
a{
    text-decoration: none;
}
.accedi a:visited{
    color: black;
}
nav{
    text-align: center;
    width: 100%;
}
nav ul a{
    color: rgb(255, 255, 255);
    margin: 25px;
    line-height: 80px;
    z-index: 999;
}
.accedi{
    position: absolute;
    top: 20px;
    right: 300px;
    z-index: 2;
    width: 90px;
    height: 40px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #000;
}
.menu a img{
    position: absolute;
    top: 30px;
    left: 300px;
    cursor: pointer;
}
/* sfondo descrizione */
.sfondo-header{
    position: relative;
    width: 100vw;
    height: 700px;
    background-image: url(img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}
/* descrizione discord */
.testo-download h1{
    font-size: 50px;
}
.testo-download p{
    line-height: 30px;
    width: 70%;
    margin:40px auto ;
}
/* colore testo */
.testo-download h1,
.testo-download p,
.pulsanti .browser{
    color: #fff;
}
.testo-download{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    text-align: center;
}
/* pulsanti tasti */
.mac{
    line-height: 40px;
    text-align: center;
    border-radius: 40px;   
    padding: 10px 20px;
    margin-right: 20px;
}
.alternativo1{
    background-color: #fff;
    color: #000;
}
.alternativo2,
.registrati{
    background-color: rgb(106, 106, 212);
    color: #fff;
}
.browser{
    background-color: rgb(43, 43, 43);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: #000;
    padding: 10px 15px;
}
/* prima immagine ma group e terza */
.prima-box{
    width: 100%;
    height: 600px;
    position: relative;
    top: 700px;
    left: 0%;
}
.box-study{
    width: 70%;
    height: 100%;
    margin: 100px auto;
    
}
.box-study .sinistra{
    width: 49%;
    height: 100%;
    display: inline-block;
    float: left;
}
.box-study h1,
.box-chilling h1,
.box-tecnologia h1{   
    font-size: 40px;
    vertical-align: middle;
}
.box-study p, 
.box-chilling p,
.box-tecnologia p{
    margin: 30px 0;
    line-height: 30px;
}
.box-study .destra{
    float: right;
    display: inline-block;
    width: 25%;
    height: 100%;
    text-align: left;
    margin: 30px 5%;
}
/* seconda box just chiling */
.prima-box::after,
.seconda-box::after{
    clear: both;
    display: block;
    content: "";
}
.seconda-box{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 800px;
    position: relative;
    top: 700px;
    left: 0%;
}
.box-chilling{
    width: 70%;
    height: 100%;
    padding-top: 100px;
    margin: auto;
}
.sinistra2{
    margin-top: 30px;
    float: left;
    width: 25%;
}
.destra2{
    float: right;
    width: 45%;
}
/* terza box */
.terza-box{
    background-color: rgb(241, 241, 241);
    width: 100%;
    height: 1200px;
    position: relative;
    top: 700px;
    left: 0%;
}
.box-tecnologia{
    padding: 10%;
    width: 70%;
    margin: auto;
    height: 100%;
    text-align: center;
}
.box-tecnologia h1,
.box-tecnologia p{
    width: 90%;
    margin: 20px auto;
}
.box-tecnologia h2{
    margin: 50px 0;
    font-size: 30px;
}
.stelle{
    position: relative;
    top: 0%;
    left: 0%;
}
.stelle img{
    position: absolute;
    top: -40px;
    right: 190px;
    width: 580px;
}
/* footer con info varie */
footer{
    background-color: #23272a;
    width: 100%;
    height: 700px;
    position: relative;
    top: 700px;
    left: 0%;
}
.info-link{
    width: 70%;
    margin: auto;
    padding: 80px 0;
    border-bottom: 1px solid #7289da;
}
.colonna1{
    width: 25%;
    display: inline-block;
}
.colonna2{
    margin: 0 15px;
    width: 15%;
    display: inline-block;
}
.colonna1 img{
    margin: 20px 0;
    vertical-align: middle;
}
.colonna1 li i{
    margin: 0 10px;
    text-align: right;
}
.colonna2 li{
    font-size: 13px;
    margin: 10px;
}
.info-link h4,
.info-link h1{
    font-weight: 800;
}
.info-link h1,
.info-link h4{
    color: #7289da;
}
.info-link ul{
    list-style-type: none;
    color: #fff;
    vertical-align: top;
}
.info-link img{
    max-width: 20px;
}
/* logo finale e pulsante registrati */
.finale{
    width: 70%;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
    vertical-align: middle;
}
.finale img{
    float: left;
}
.registrati {
    line-height: 40px;
    text-align: center;
    border-radius: 40px;   
    padding: 5px 20px;
    float: right;
}
/* onde palesemente copiate */
.custom-shape-divider-bottom-1636047702 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1636047702 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1636047702 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-top-1636047756 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1636047756 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}

.custom-shape-divider-top-1636047756 .shape-fill {
    fill: #FFFFFF;
}